 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #0F3D3E, #2A0E2E);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
            color: white;
        }
body {
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

        h1 {
            color: #BDEFFF;
            text-shadow: 0 0 15px rgba(189,239,255,0.6);
        }

        .container {
    width: 420px;
    margin-top: 20px;
    background: rgba(255,255,255,0.07);
    backdrop-filter: blur(15px);
    border-radius: 18px;
    padding: 25px;
    border: 1px solid rgba(189,239,255,0.4);
    box-shadow: 0 0 30px rgba(255,46,146,0.3);
    animation: float 5s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-6px);}
    100% { transform: translateY(0px);}
}

        input, textarea {
            width: 100%;
            padding: 10px 0px 10px 5px;
            margin-top: 10px;
            border-radius: 10px;
            border: none;
            background: rgba(255,255,255,0.1);
            color: white;
        }

        textarea {
            resize: none;
            height: 100px;
        }

        button {
            margin-top: 15px;
            width: 100%;
            padding: 10px;
            background: #FF2E92;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #D61C77;
            box-shadow: 0 0 15px #FF2E92;
            transform: scale(1.05);
        }
        .toggle-btn {
    margin-top: 20px;
}

        .error {
            color: #ff6b6b;
            margin-top: 10px;
        }

        .success {
            color: #4cff91;
            margin-top: 10px;
        }

        .notes-wrapper {
    margin-top: 20px;
    width: 520px;
    display: none;
}

.note-box {
    background: rgba(189,239,255,0.08);
    backdrop-filter: blur(10px);
    border-left: 4px solid #BDEFFF;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(189,239,255,0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s ease;
}

.note-box.show {
    opacity: 1;
    transform: translateY(0);
}

.note-time {
    font-size: 12px;
    color: #BDEFFF;
}

.note-title {
    font-weight: bold;
    color: #FF2E92;
    margin: 5px 0;
}
   